* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 60%);
}

/* Add styles here! */

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
  margin-bottom: 48px;
}

.intro-chunk {
  padding: 24px;
}

header p {
  max-width: 400px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.card {
  padding: 24px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 24px;
  margin: -16px 0 0 -32px;
  width: fit-content;
}
